**/dust
doc/_build/
**/__pycache__
**/pytest_cache
**/*.egg
**/*.egg-info
**/.astropy
**/.cache
**/.config
**/.wget*
**/_cache
**/_tests
**/_runs
**/_tmp
**/dist
**/eggs
**/build
**/.ipynb_checkpoints
**/*.png
**/bak
**/_plots/*
**/desipipe_data_splits_unblinded.py
**/auw3.ipynb
**/check_complete.ipynb
**/**Copy*.ipynb
**/validation2.ipynb
**/*.pdf
**/*.zip
**/log
**/tmp
**/tmp.py

.vscode/

**/OLD/

# Unit test / coverage reports
**/.coverage
**/slurm*

# vibe
AGENTS.md
CLAUDE.md
